# Korean form. Used by /ko
GOOGLE_FORM_URL_KO=https://docs.google.com/forms/d/e/1FAIpQLScE2fw2xO5QzLsRfL3BDnBZkWQAXoyJ9Fen_JHyV8HcNx_kMQ/viewform?fbzx=6808152056679439250

# English form. Used by /en
# Placeholder: same as Korean until the English Google Form URL is ready.
GOOGLE_FORM_URL_EN=https://docs.google.com/forms/d/e/1FAIpQLScE2fw2xO5QzLsRfL3BDnBZkWQAXoyJ9Fen_JHyV8HcNx_kMQ/viewform?fbzx=6808152056679439250
