# Korean form. Used by /ko
GOOGLE_FORM_URL_KO=https://docs.google.com/forms/d/e/1FAIpQLScE2fw2xO5QzLsRfL3BDnBZkWQAXoyJ9Fen_JHyV8HcNx_kMQ/viewform?fbzx=6808152056679439250

# English form. Used by /en
GOOGLE_FORM_URL_EN=https://docs.google.com/forms/d/e/1FAIpQLSfY7qk9seivpiXf0vr3J4FVme9iIlhx7cz2dtJUgTNBhxvPEg/viewform
